html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefffe;
}

.flipped-front {
  transform: translateX(-180deg);
}

.flipped-back {
  transform: translateX(0deg);
}
